@charset "UTF-8";
a {
	text-decoration: none;	
}

.nav-bar {
	display: flex;
	justify-content: space-between; /* 요소 좌우 끝으로 배치 */
	align-items: center;
	padding: 0 20px;
}

.nav-center, .nav-right {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-center {
	gap: 20px; /* 메뉴 사이 간격 */
	justify-content: center;
	flex: 1; 
}

.nav-right {
	gap: 20px; /* 메뉴 사이 간격 */
}

main {
	min-height: 300px;
}

main table {
	margin: auto;
}

.error_msg {
	font-size: 12px;
	color: RED;
}

/* 상단 알림 뱃지 */
#alarm-wrapper {
	position: relative;
	display: inline-block; 
	margin-left: 10px;
}

#alarm-image {
	width: 25px;
	height: 25px;
	vertical-align: bottom;
}

#alarm-badge {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	display: none;
}

















