<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout}">
<head>
	<!-- 개별페이지 CSS 영역 -->
	<th:block layout:fragment="style">
		<style>
			section h3 {
				text-align: center;
			}
		
			.align_center {
				text-align: center;
			}
		</style>
	</th:block>
</head>	
<body>
	<section layout:fragment="content">
		<h3>상품 등록</h3>
		<div id="registForm">
			<!-- 파일 업로드를 위해 form 태그 enctype 설정 -->
			<form th:action="@{/items/regist}" th:object="${itemDTO}" method="post" enctype="multipart/form-data">
				<table border="1">
					<tr>
						<th>상품명</th>
						<td>
							<input type="text" th:field="*{itemNm}" required>
							<div class="error_msg" th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}"></div>
						</td>
					</tr>
					<tr>
						<th>가격</th>
						<td>
							<input type="number" th:field="*{price}" required>
							<div class="error_msg" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
						</td>
					</tr>
					<tr>
						<th>수량</th>
						<td>
							<input type="number" th:field="*{stockQty}" required>
							<div class="error_msg" th:if="${#fields.hasErrors('stockQty')}" th:errors="*{stockQty}"></div>
						</td>
					</tr>
					<tr>
						<th>카테고리</th>
						<td>
							<select th:field="*{category}">
								<option value="">카테고리 선택</option>
								<!-- 
								[ 타임리프 템플릿 페이지에서 자바 클래스(enum 포함) 를 직접 참조(접근)하는 방법 ]
								기본 문법 : ${T(패키지명.클래스명).메서드명()}
								=> enum 에서 제공하는 values() 메서드 호출하여 enum 이 가진 모든 값을 목록으로 표시(반복문 활용)
								   value 속성값은 반복 시 전달받은 enum 값을 그대로 사용, text 속성값은 enum 값의 label 필드값 사용
								-->
								<option th:each="cat : ${T(com.itwillbs.test5.item.constant.ItemCategory).values()}"
										th:value="${cat}"
										th:text="${cat.label}"></option>
							</select>
							<div class="error_msg" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>
						</td>
					</tr>
					<tr>
						<th>판매상태</th>
						<td>
							<select th:field="*{sellStatus}">
								<option value="">판매상태 선택</option>
								<option th:each="status : ${T(com.itwillbs.test5.item.constant.ItemSellStatus).values()}"
										th:value="${status}"
										th:text="${status.label}"></option>
							</select>
							<div class="error_msg" th:if="${#fields.hasErrors('sellStatus')}" th:errors="*{sellStatus}"></div>
						</td>
					</tr>
					<tr>
						<th>상세설명</th>
						<td>
							<textarea rows="4" cols="20" th:field="*{itemDetail}"></textarea>
							<div class="error_msg" th:if="${#fields.hasErrors('itemDetail')}" th:errors="*{itemDetail}"></div>
						</td>
					</tr>
					<tr>
						<th>첨부파일<br>(최대5개)</th>
						<td>
							<input type="file" id="custom-file-input" name="itemImgFiles" accept="image/*" multiple>
							<div id="imgPreviewArea"></div>
							<div class="error_msg" id="fileErrorDiv"></div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="align_center">
							<input type="submit" value="등록">
							<input type="button" value="취소">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</section>
	
	<!-- 개별 페이지의 자바스크립트 영역 -->
	<th:block layout:fragment="myScript">
		<script>
			$(function() {
				// =====================================================================
				// 파일 선택 요소의 change 이벤트 핸들링
				$("#custom-file-input").change(function(event) {
					// 파일 선택 요소에서 선택된 파일 목록 객체 가져오기
					const files = event.target.files;
					console.log(files);
					// -------------------------------------------------
					// 참고) 파일 목록에서 이미지 파일들만 필터링(미리보기 대상으로 이미지 파일만 선택하기 위함)
					let imageFiles = Array.from(files).filter(f => f.type.startsWith("image/"));
				
					// 선택된 파일 갯수 제한(현재는 이미지 파일 목록만으로 제한)
					// => x개를 초과하면 경고 출력 후 x개 파일을 제외한 나머지 파일 버림
					const fileCountLimit = 5;
					if(imageFiles.length > fileCountLimit) { // 파일 갯수가 5개보다 많을 경우
						alert("최대 첨부 가능한 갯수 : " + fileCountLimit);
						imageFiles = imageFiles.slice(0, fileCountLimit); // 0부터 파일 갯수만큼 남기고 버림
						console.log(imageFiles); // 5개만 남은 목록 출력됨
					}
					// --------------------------------------------------
					// 미리보기1) 이미지 프리뷰 영역 초기화
					$("#imgPreviewArea").html("");
					
					// 기존 파일 선택 영역을 교체할 새로운 파일 목록 객체 변경에 사용되는 DataTransfer 객체 생성
					let newFiles = new DataTransfer();
					
					// 이미지 파일 갯수만큼 반복문 수행
					$.each(imageFiles, function(index, file) {
						// 현재 반복중인 파일 1개를 새로운 DataTransfer 객체에 추가
						newFiles.items.add(file);
						// ------------------------
						// 미리보기2) FileReader 객체 생성
						let reader = new FileReader();
					
						// 미리보기3) FileReader 객체의 onload 이벤트 핸들링
					});
					// --------------------------------------------------
					// 파일 선택 요소 객체의 files 속성에 접근하여 새로운 파일 목록 객체로 업데이트
					$("#custom-file-input")[0].files = newFiles.files;
					
				});
				// =====================================================================
			});
		</script>
	</th:block>
</body>
</html>















