<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<!-- 개별페이지 CSS 영역 -->
<th:block layout:fragment="style">
	<!-- Toast UI - Toast Grid 기본 CSS 로딩 -->
	<link rel="stylesheet"
		href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<style>
section h3 {
	text-align: center;
}

.align_center {
	text-align: center;
}

#imgPreviewArea {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.div-img-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-preview {
	width: 100px;
	height: 100px;
	display: block;
}
</style>
</th:block>
</head>
<body>
	<section layout:fragment="content">
		<h3>상품 목록</h3>
		<div id="divListPerPage">
			<select id="selectListPerPage">
				<option value="3">3개씩</option>
				<option value="5">5개씩</option>
				<option value="10">10개씩</option>
			</select>
		</div>
		<div id="grid"></div>
	</section>

	<!-- 개별 페이지의 자바스크립트 영역 -->
	<th:block layout:fragment="myScript">
		<!-- Toast UI - Toast Grid 기본 자바스크립트 로딩 -->
		<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
		<script>
			$(function() {
				let currentPage = 1; // 현재 페이지 번호(기본값 1)
				let pageSize = parseInt($("#selectListPerPage").val()); // 기본 페이지 사이즈 가져오기
				
				// tui.Grid 객체 생성(내부 코드 바로 구현)
				const grid = new tui.Grid({
					// 필수 속성 2개(el = 그리드를 표시할 HTML 요소 객체, columns = 제목열을 설정할 배열) 설정
					el: document.getElementById("grid"), // <div id="grid"></div> 요소 지정
					editable: true, // 셀 수정 기능 활성화(이후 각 제목열 설정 시 편집 여부와 편집 데이터 타입 지정하여 편집 기능 동작)
					columns: [
						// columns 배열(리스트) 내에 1개 객체마다 1개 제목열을 설정 가능
						{
							// header 속성에 실제 표시될 제목열 텍스트, name 속성에 바인딩 될 JSON 데이터 속성명
							header: "상품번호",
							name: "id",
							// 상품번호에 대한 정렬 기능 활성화 및 기본 정렬 방식을 내림차순으로 설정
							sortable: true,
							sortingType: "desc"
						},
						{
							header: "상품명",
							name: "itemNm",
							// 텍스트 데이터인 상품명을 직접 편집 가능하도록 editor 속성값을 "text" 로 지정
							editor: "text",
							// 셀 정렬(좌측 정렬 = 기본값)
							align: "left"
						},
						{
							header: "가격",
							name: "price",
							// 가격에 대한 정렬 기능 활성화 및 기본 정렬 방식을 오름차순으로 설정
							sortable: true,
							// 셀 정렬(우측 정렬)
							align: "right"
						},
						{
							header: "재고수량",
							name: "stockQty"
						},
						{
							header: "카테고리",
							name: "category"
						},
						{
							header: "판매상태",
							name: "sellStatus"
						},
						{
							header: " ",
							name: "btn",
							width: 100, // 너비 설정
							align: "center",
							// formatter 속성에 화살표 함수를 활용하여 원하는 태그를 해당 셀에 삽입 가능(각 셀에 반복 삽입됨)
// 							formatter: () => "<button type='button' class='btn-detail'>상세정보</button>"
							// formatter 속성 지정 시 화살표 함수를 사용하여 rowInfo 파라미터를 전달받을 경우 row 정보가 전달됨
							// => 화살표 함수 내부에 return 문을 통해 표시할 버튼 요소를 지정(반복을 통해 버튼을 생성하여 리턴(생성))
							formatter: (rowInfo) => {
// 								console.log("----------------");
// 								console.log(rowInfo);
// 								return `<button type='button' class='btn-detail' data-row-key='${rowInfo.row.rowKey}'>상세정보</button>`;
								return `<button type='button' class='btn-detail' data-row-key='${rowInfo.row.rowKey}'>상세정보</button><button type='button' class='btn-temp' data-row-key='${rowInfo.row.rowKey}'>임시</button>`;
								
							}
						}
					],
					// data 속성값으로 그리드에 표시될 실제 데이터가 저장된 JSON 객체 지정
					// => 실제 JSON 이 저장된 객체 내에 Toast Grid 가 필요한 속성들을 추가해준다! (실제 객체 내용 변경됨)
// 					data: data
					// data 속성에 전달할 변수명이 data 로 동일할 경우 변수명 지정 생략 가능
// 					data
					// => 객체 생성 코드 바깥쪽에서 grid 객체의 resetData() 메서드로 데이터 전달도 가능
				}); // Toast UI Grid 객체 생성 끝
				
				// -------------------------------------------------------
				// AJAX 활용하여 "/items/itemList" 요청하여 상품 목록을 JSON 형식으로 응답받아 Toast Grid 에서 표시하기
				function loadPage() {
					$.ajax({
						type: "GET",
						url: "/items/itemList",
						// 요청 파라미터로 현재 페이지 번호와 페이지 사이즈 전송
						data: {
							page: currentPage,
							pageSize
						},
						dataType: "JSON",
						success: function(data) {
							// 전송받은 목록 데이터를 사용하여 그리드 초기화
							// => PageResponseDTO<ItemDTO> 타입 객체가 content 속성에 저장되어 있음
							grid.resetData(data.content);
						},
						error: function() {
							alert("상품 목록 요청 실패!");
						}
					});
				}	
				// ----------------------------------------------------------------------
				// 초기 데이터 로딩
				loadPage();
				
				// ----------------------------------------------------------------------
				$("#selectListPerPage").on("change", function() {
					// 셀렉트박스 선택된 값 가져와서 정수로 변환하여 저장
					pageSize = parseInt($(this).val());
					
					loadPage();
				}); // 셀렉트박스 이벤트 핸들링 끝
				
				// ----------------------------------------------------------------------
				// Toast Grid 클릭 이벤트 핸들링(그리드 전체에 대한 클릭 이벤트 핸들링)
				grid.on("click", (ev) => {
// 					console.log(ev);
					// 이벤트 객체(ev)의 columnName 속성을 활용하여 상세정보 버튼(name: "btn") 클릭 판별
					if(ev.columnName == "btn") { // 실제 버튼이 아닌 버튼이 있는 컬럼을 클릭
						// 이벤트 객체의 rowKey 속성에 접근하면 그리드 객체가 관리하는 행번호(상품아이디 아님!)에 접근 가능
// 						console.log("ev.rowKey : " + ev.rowKey);
						
						// 실제 클릭한 대상이 특정 버튼인지 판별
						const target = ev.nativeEvent.target; // 현재 클릭 이벤트 요소에서 클릭된 버튼 정보 가져오기
						
						if(!target) { // 대상 요소가 존재하지 않으면 함수 종료
							return;
						}
						
						// 그리드 객체의 getRow() 메서드 파라미터로 rowKey 값을 전달하면 해당 로우데이터에 접근 가능
						const rowData = grid.getRow(ev.rowKey);
// 						console.log(rowData); // {id: 21, itemNm: '상품10', price: 100000, stockQty: 10, category: 'CLOTHING', …}

						let targetURL;

						if(target.classList.contains("btn-detail")) { // 상세정보 버튼
// 							console.log("상세정보!");
							// 상품 아이디(id 값)를 활용하여 상세정보 조회 요청 URL 생성
							targetURL = "/items/" + rowData.id;
						} else if(target.classList.contains("btn-temp")) { // 임시 버튼
// 							console.log("임시!");
							targetURL = "/items/temp/" + rowData.id;
						}
						
						location.href = targetURL;
					}
				}); // Toast Grid 클릭 이벤트 핸들링 끝
				
				
				
			}); // document.ready 이벤트 핸들링 끝
			// ===========================================================
				
		</script>
	</th:block>
</body>
</html>















