<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout}">
<head>
	<!-- 개별페이지 CSS 영역 -->
	<th:block layout:fragment="style">
		<style>
			section h3 {
				text-align: center;
			}
		
			.align_center {
				text-align: center;
			}
		</style>
	</th:block>
</head>	
<body>
	<section layout:fragment="content">
		<h3>로그인</h3>
		<div id="registForm">
			<form th:action="@{/members/login}" method="post">
				<table border="1">
					<tr>
						<th>E-Mail</th>
						<td>
							<!-- 아이디 기억하기 쿠키값 있을 경우 표시  -->
							<input type="text" name="email" required>
						</td>
					</tr>
					<tr>
						<th>비밀번호</th>
						<td>
<!-- 							<input type="password" name="password" required> -->
							<input type="password" name="passwd" required>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<!-- rememberId 값이 null 이 아니면 아이디 기억하기 체크박스 체크 -->
							<input type="checkbox" name="remember-id">아이디 기억하기
							<input type="checkbox" name="remember-me">로그인 유지
						</td>
					</tr>
					<tr>
						<td colspan="2" class="align_center">
							<input type="submit" value="로그인" >
							<input type="button" value="비밀번호찾기">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</section>
	
	<!-- 개별 페이지의 자바스크립트 영역 -->
	<th:block layout:fragment="myScript">
		<script>
		</script>
	</th:block>
</body>
</html>















