<!DOCTYPE html>
<!-- 현재 문서 내용 전체를 통째로 본문이 작성되어 있는 문서에서 가져다 쓰기 위해 html 태그 자체를 프래그먼트로 지정(프래그먼트명 지정) -->
<html xmlns:th="http://www.thymeleaf.org"
		th:fragment="layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 공통 자바스크립트 영역 -->
<script>
	console.log("공통 자바스크립트 영역 코드 실행!");
</script>
</head>
<body>
	<header th:include="~{fragments/header}">헤더 내용</header>
	<hr>
	
	<!-- 본문이 실제로 표시될 영역 -->
	<!-- 개별 페이지의 내용(실제 표시되어야 하는 본문)이 표시될 영역(thymeleaf_test6-2.html 파일의 content 프래그먼트 표시) -->
<!-- 	<main th:replace="~{thymeleaf_test6-2::content}"> -->
<!-- 	<main th:replace="~{thymeleaf_test6-3::content}"> -->
	<!-- 현재 레이아웃 파일의 내용이 다른 컨텐츠 페이지에 포함 또는 대체될 경우 -->
	<!-- 파일명을 생략하고 프래그먼트명만 지정하여 각각의 페이지에서 지정한 컨텐츠 프래그먼트를 동적으로 치환 가능 -->
	<!-- 
	thymeleaf_test6-2.html 과 test6-3.html 에 각각 content 라는 이름의 프래그먼트를 생성하여 본문을 작성하고
	레이아웃 페이지에서 파일명을 제외한 프래그먼트명 content 만 지정(th:replace="~{::content})하면
	뷰페이지가 test6-2.html 일 경우 test6-2.html 의 content 프래그먼트가 표시되고
	test6-3.html 일 경우 test6-3.html 의 content 프래그먼트가 표시된다!
	
	결론) 레이아웃을 지정한 템플릿 페이지를 하나만 작성하고
	      실제 표시될 본문 등의 내용을 담은 페이지를 각각 작성하여 통합된 레이아웃으로 각각의 페이지를 작성하게 되며
	      이를 통해 중복된 코드 제거가 가능하다!
	-->
	<main th:replace="~{::content}">
		<h1>테스트</h1>
	</main>
	
	<hr>
	<footer th:include="~{fragments/footer::footerFragment}">푸터 내용</footer>
	
	<!-- 개별 페이지의 자바스크립트 영역 => test6-x.html 파일에서 정의된 스크립트 프래그먼트 지정 -->
	<th:block th:replace="~{::myScript}"></th:block>
</body>
</html>



















