<!DOCTYPE html>
<!-- <html> -->
<!-- 타임리프 문법을 HTML 문서 내에서 사용하기 위한 네임스페이스 등록 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>thymeleaf_test1.html</h1>
	<!-- 타임리프는 기본적으로 특정 태그의 th:xxx 속성 형태로 타임리프 기능 사용(= 네임스페이스(xmlns)에 등록 필요) -->
	<!-- 타임리프 변수 표현식 : ${} -->
	<!-- 스프링 데이터 공유객체인 Model 객체에 담긴 속성값을 참조하는 용도로 사용 -->
	<!-- 타임리프에서 단일 텍스트 데이터를 출력하는 문법 : <태그명 th:text="${속성명}"> 형태로 접근 -->
	<h3 th:text="${data}">Hello, Thymeleaf!</h3>
	<!--
	${data} 부분이 컨트롤러로부터 전달받은 속성에 접근하여 해당 데이터를 표현하는 문법이므로
	이를 통해 <h3> 태그의 텍스트 노드에 해당 데이터가 출력됨. 
	결국, h3 태그 사이에 입력된 텍스트(Hello, Thymeleaf!) 를 덮어쓰게 되므로 기존 텍스트는 볼 수 없음!
	단, 이 파일을 서버를 거치지 않고 웹브라우저에서 바로 실행할 경우 타임리프가 동작하지 않으므로 기존 텍스트가 보인다! 
	-->
	<h3 th:text="${data2}"></h3>
	
</body>
</html>













