<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 
	타임리프 th:replace, th:include, th:insert 를 사용하여 공통 페이지 내용 가져오기
	th:replace 는 대상 페이지의 내용을 현재 위치로 "대체"하고, th:include 는 대상 페이지 내용을 현재 위치 "내부에 포함" 시킴
	=> 기본 경로는 templates 경로이며, 대상 지정 시 th:xxx="~{경로명/파일명}" 형태로 지정(templates 경로명은 생략)
	-->	
	<!-- 1) templates/fragments 디렉토리의 header.html 파일 내용 가져와서 "대체"하기(.html 확장자 지정 생략 가능) -->
	<!--    th:replace 속성이 지정된 header 태그 자체가 제거되고, 가져온 내용으로 대체(= 덮어씀) -->
<!-- 	<header th:replace="~{fragments/header}">헤더 내용</header> -->

	<!-- 2) templates/fragments 디렉토리의 header.html 파일 내용 가져와서 "포함"하기(.html 확장자 지정 생략 가능) -->
	<!--    th:include 속성이 지정된 header 태그는 유지되고, header 태그 내부에 가져온 내용을 포함시킴(= 내부만 덮어씀) -->
<!-- 	<header th:include="~{fragments/header}">헤더 내용</header> -->

	<!-- 3) th:include 와 기본 동작이 유사한 th:insert 도 사용 가능(th:include 대신 th:insert 권장) -->
	<header th:insert="~{fragments/header}">헤더 내용</header>
	<hr>
	
	<main>
		<h1>본문 영역</h1>
	</main>
	
	<hr>
<!-- 	<footer th:replace="~{fragments/footer.html}">푸터 내용</footer> -->

	<footer th:replace="~{fragments/footer::footerFragment}">푸터 내용</footer>
</body>
</html>



















