<!DOCTYPE html>
<!-- Thymeleaf Layout Dialect 사용을 위해 레이아웃의 실제 컨텐츠를 구성하는 페이지 html 태그에도 네임스페이스 하나 더 추가 -->
<!-- 또한, Layout Dialect 로 작성된 레이아웃 페이지를 상속받도록 layout:decorate="~{레이아웃페이지파일명}" 형태의 속성 추가 -->
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{thymeleaf_test7_layout}">
<!-- 실제 컨텐츠 페이지에서 별도의 head 설정이 추가로 필요하지 않을 경우 <head> 태그 생략(레이아웃이 <head> 작성) -->
<!-- <head> -->
<!-- <meta charset="UTF-8"> -->
<!-- <title>Insert title here</title> -->
<!-- </head> -->

<body>
	<!-- 레이아웃을 사용하여 실제 컨텐츠가 표시될 영역 내용만 작성 -->
	<!-- layout:fragment="프래그먼트명" 속성을 사용하여 레이아웃 페이지에 포함될 위치의 프래그먼트 지정(th:fragment 아님!!) -->
	<section layout:fragment="content">
		<h3>thymeleaf_test7.html</h3>
		<h1>본문 영역</h1>
		<a th:href="@{/thymeleaf/test7-2}">test7-2</a>
	</section>
	
	<!-- 개별 페이지의 자바스크립트 코드 작성 => 프래그먼트명을 script 로 지정 -->
	<th:block layout:fragment="myScript">
		<script type="text/javascript">
			console.log("test7 개별 페이지 스크립트 실행됨!");
		</script>
	</th:block>
</body>
</html>













